:root {
    --primary-color: #F27A1A;
    --account-link-color: #333;
    --account-link-hover-color: var(--primary-color);
}

html,
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.header-links a {
    color: #999999;
    font-size: 12px;
}
.header-links a:hover {
    color: #666666;
}

.logo-search-account-container {
    display: grid;
    grid-template-columns: 140px 1fr 335px;
    margin-top: 10px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 42px;
    background-color: #F3F3F3;
    border-radius: 6px;
    position: relative;
}
.search-icon{
    position: absolute;
}
.search input {
    padding: 14px 25px 14px 17px;
}
.search input:focus {
    border:1px solid var(--primary-color);
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.search-options{
    display: none;
    position: relative;
    top: 42px;
    left: 0;
    width: 100%;
    height: 165px;
    border:1px solid var(--primary-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
    padding: 17px 10px 17px 18px;
}
.search-options p {
    margin: 0;
    font-size: 12px;
    margin-bottom: 5px;
    cursor: pointer;
}

.search-options p:first-child{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    
}
.search-options p span:first-child {
    color: var(--primary-color);
}
.search-options p span:last-child {
    cursor: pointer;
    transition: .2s ease-in-out color;
}
.search-options p span:last-child:hover {
    color: var(--primary-color);
}
.search-input:focus + .search-options {
    display: block;
    position: absolute;
}
.search input {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    font-size: 12px;
}
.search button {
    background: none;
    border: none;
}

.account-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    font-size: 12px;
    margin: 0;
}
.account-list > li {
    height: 42px;
    display: flex;
    align-items: center;
    margin: 0;
}
.user-menu li a {
    font-size: 14px;
}
.account-list .user-menu li:first-child {
    font-size: 14px;
}
.account-list li a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--account-link-color);
}
.account-list li a:hover {
    color: var(--primary-color);
}

.account-list li a:hover svg path {
    fill: var(--account-link-hover-color)
}

.user-menu {
    display: none;
    width: 168px;
    height: 289px;
    padding: 9px 10px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
    position: relative;
    margin-top: 14px;
    border-radius: 4px; 
}
.user-menu::before{
    content: "";
    width: 12px;
    height: 12px;
    border-top: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    background: #fff;
    z-index: 1;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg) ;


}
.user-menu li{
    padding: 6px 0;
}

.account-list li:first-child {
    color: var(--primary-color);
}
.account-list li:hover {
    position: relative;
}
.account-list li:hover .user-menu {
    display: block;
    position: absolute;
    top: 25px;
    left: -60px;
}
